<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="custom-card">
        <div class="container">
            <div class="page-header mt-3">
                <h1>Analyze your football article</h1>
            </div>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <form method="POST" class="article-form">
                        {% csrf_token %}
                        <div>
                        Enter your article
                        </div>
                        <div class="form-group" >
                            {{ form }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
